.btns{
    -fx-background-color: linear-gradient(to bottom left, #66B7AAFF, #40B3D0FF);
}
.btns:hover{
    -fx-background-color: #48E398FF;
}
.btns:pressed{
    -fx-background-color: #34A56FFF;
}
.paneMenu{
    -fx-background-color: linear-gradient(to bottom left, #40E0D0FF, #66DDAAFF);
}

.paneTop{
    -fx-background-color: linear-gradient(to bottom right, #40E0D0FF, #66DDAAFF);
}


.GrammarStyle{
    -fx-background-color: linear-gradient(to bottom right, green, deepskyblue);
}
.GrammarStyle:hover{
    -fx-background-color:linear-gradient(to bottom left,  #00D200FF, green);
}
.VocabularyStyle{
    -fx-background-color:linear-gradient(to bottom left,  orange, red);
}
.VocabularyStyle:hover{
   -fx-background-color:linear-gradient(to bottom left,  orange, #FFCF00FF);
}
.ListeningStyle{
    -fx-background-color: linear-gradient(to bottom left, deepskyblue, #0048BAFF);
}
.ListeningStyle:hover{
    -fx-background-color: linear-gradient(to bottom left, deepskyblue, #00D8FFFF);
}
.ReadingStyle{
    -fx-background-color: linear-gradient(to bottom left, darkred, red);;
}
.ReadingStyle:hover{
    -fx-background-color: linear-gradient(to bottom left, #FF033EFF, red);;
}

.btnsV{
    -fx-background-color: #ffffff;
}
.btnsV:hover{
    -fx-background-color: darkgrey;
}
.btnsV:pressed{
    -fx-background-color: gray;
}
.label1{
    -fx-text-fill: linear-gradient(to bottom left, #40E0D0FF, #66DDAAFF);;
}